.arena-player table thead th {
  border-right: 1px solid grey;
  font-size: 14px;
  padding: 1px 2px;
}

.arena-player table thead th i {
  padding: 0px;
}

app-player-icons img {
  width: 64px;
  height: 64px;
}
