<br>
<div class="container text-center">

  <p class="h3 text-center">{{ serverName }} ArenaStats</p>
  <br>

  <div>
    <p class="text-center text-success">Next Arena Points distribution (server time): <strong>{{ (service.nextArenaPointsDistributionTime$ | async) * 1000  | date:'yyyy-MM-dd HH:mm:ss' : 'UTC' }}</strong></p>
  </div>

  <router-outlet></router-outlet>

  <hr>
  <!-- We worked for free to build this software, please do not remove the credit! -->
  <p class="text-center credits">Created by <a target="_blank" href="https://github.com/ShinDarth"><strong>ShinDarth</strong></a> && <a target="_blank" href="https://github.com/Helias"><strong>Helias</strong></a></p>
</div>
