.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: #17313E;
}

.team-details td {
  font-size: 18px;
}

.text-yellow {
  color: yellow;
}

td { color: white; }
