.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: #17313E;
}

.team-details td {
  font-size: 16px;
}

.team-details th i {
  padding: 0px;
}


.text-yellow {
  color: yellow;
}

td { color: white; }

.table-hover tbody tr:hover {
  background-color: rgba(255, 255, 255, .2) !important;
}
