<app-next-arena-points />

<app-search-player />

<div>
  <tabset #arenaTabset>
    @for (team of teams; track $index) {
      <tab [heading]="team.tabName" [id]="team.tabName" (selectTab)="onTabChange($event.id)">
        <app-arena-team-tab [teams]="service.teams$[team.arenaType] | async" [isSolo]="$safeNavigationMigration(team?.solo)" />
      </tab>
    }

    @if (afterViewInit()) {
      <tab heading="Top Arena Rated" id="top-arena-rated" (selectTab)="onTabChange($event.id)">
        <app-top-arena-rated />
      </tab>

      <tab heading="Detailed Score" id="detailed-score" (selectTab)="onTabChange($event.id)">
        <app-detailed-score />
      </tab>
    }
  </tabset>
</div>
